.sidebar-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    /* min-width: 250px;
    max-width: 300px; */
    background-color: #f0f0f0;
}
.sidebar { 
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font: 400 16px/1.5 Roboto, sans-serif;
    padding: 15px;
}
.logo-image {
    /* aspect-ratio: 0.99; */
    object-fit: contain;
    width: 120px;
    align-self: center;
}
.system-title {
    color: #098100;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 18px;
}
.nav-tabs {
    display: flex;
    margin-top: 10px;
    /* min-height: 295px; */
    flex-direction: column;
    justify-content: center;
}
.nav-item {
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    color: #343434;
    font-weight: 700;
    letter-spacing: -0.2px;
}
/* .nav-item.active {
    background-color: #098100;
    color: #fff;
} */
.nav-icon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 24px;
}
.user-section {
    display: flex;
    margin-top: 70px;
    /* min-height: 243px; */
    flex-direction: column;
    justify-content: center;
}
.user-profile {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 20px;
    color: #000;
    letter-spacing: -0.2px;
    padding: 32px;
}
.avatar {
    background-color: #d9d9d9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.username { width: 90px; }
.logout-btn {
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    color: #343434;
}